.example-form {
    min-width: 100px;
    max-width: 300px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .cartIcon:hover {
    cursor: pointer;
  }
  
  .cart-container {
    position: relative;
    cursor: pointer;
  }


  .cartIcon:hover::after {
    content: "Available soon";
    background-color: #333;
    color: #fff;
    padding: 4px 8px;
    border-radius: 4px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
  
  
  