input[type="text"] {
  width: 200px;
  padding: 10px;
  border-radius: 15px 0 0 15px

}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  width: 20px; border-radius: 0 15px 15px 0;
}

.search-bar {
  position: relative;
}

.imgContainer {
  width: 50px;
}


.dropdown {
  position: absolute;
  top: 80%;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 1;
  max-height: 50vh;
  max-width: 70vw;
  overflow-y: auto;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
  min-width: 180px;
  max-width: 200px;
  border-bottom: 1px solid #d2d1d1;
}

.dropdown-item:hover {
  background-color: #d2d1d1;
  cursor: pointer;
}


