body, * {
    font-family: '', cursive;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

.link {
  text-decoration: none; /* Supprime la décoration (soulignement) */
  color: black; /* Change la couleur du texte en noir */
}

.logo {
    font-size: 3em;
    font-weight: bold;
    margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}
  
::-webkit-scrollbar-thumb {
  background-color: #3c3c3c;
}
  
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.kaushan {
    font-family: 'Kaushan Script', cursive;
}

.white-bg {
  background: white;
}