<div class="content" role="main">
  <app-navbar></app-navbar>
  <img src="../assets/img/wall.jpg" class="mainBackgroundImg" alt="" />
  <router-outlet></router-outlet>
  <div class="container padding-top-50;">
    <div class="d-flex justify-between containerItem">
      <h2 class="kaushan">Discover our beers</h2>
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <mat-select [(ngModel)]="selectedFilter" (ngModelChange)="applyFilter()">
          <mat-option value="all">All</mat-option>
          <mat-option value="slightly-bitter">Slightly bitter (Less than 20 IBU)</mat-option>
          <mat-option value="bitter">Bitter (Between 20 and 40 IBU)</mat-option>
          <mat-option value="very-bitter">Very bitter (More than 40 IBU)</mat-option>
        </mat-select>        
      </mat-form-field>
    </div>


    <div class="justify-center d-flex flex-wrap">

      <div *ngFor="let beer of filteredBeers" data-aos="fade-up" class="radius10 mainItems margin-15 border-0">
        <a [routerLink]="['/beer', beer.id]" class="link d-flex flex-direction-column padding15 height100">
          <div class="imgSection d-flex justify-center align-items-center radius10 padding15">
            <img [src]="beer.image_url" alt="Image de la bière" height="250">
          </div>
          <p class="homeBeerName kaushan margin-5">{{ beer.name }}</p>
          <p class="homeBeerTagline margin-left-5">{{ beer.tagline }}</p>
          <button class="btnExemple d-flex radius10 margin-auto dark-bg">Learn More</button>
        </a>
      </div>

    </div>
  </div>
</div>
